{% extends '::base.html.twig' %}

{% block submenu %}
    {{ include('SirOtBundle:Submenu:Employee.html.twig') }}
{% endblock %}

{% block body -%}
    <h1>{% trans %}Medical list{% endtrans %}</h1>
	<a id="ot_list_create" href="{{ path('medical_new') }}">
		{% trans %}Create a new entry{% endtrans %}
	</a>
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}Comment{% endtrans %}</th>
                <th>{% trans %}Dateplan{% endtrans %}</th>
                <th>{% trans %}Datefact{% endtrans %}</th>
				<th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('medical_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.comment }}</td>
                <td>{% if entity.dateplan %}{{ entity.dateplan|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.datefact %}{{ entity.datefact|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('medical_show', { 'id': entity.id }) }}">{% trans %}Show{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="{{ path('medical_edit', { 'id': entity.id }) }}">{% trans %}Edit{% endtrans %}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% endblock %}
