{% extends '::base.html.twig' %}

{% block submenu %}
    {{ include('SirOtBundle:Submenu:Employee.html.twig') }}
{% endblock %}

{% block body -%}
    <h1>{% trans %}Medical{% endtrans %}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}LFMname{% endtrans %}</th>
                <td>{{ entity.employee }}</td>
            </tr>
            <tr>
                <th>{% trans %}Medicalkind{% endtrans %}</th>
                <td>{{ entity.medicalkind }}</td>
            </tr>
            <tr>
                <th>{% trans %}Medicaltype{% endtrans %}</th>
                <td>{{ entity.medicaltype }}</td>
            </tr>
            <tr>
                <th>{% trans %}Comment{% endtrans %}</th>
                <td>{{ entity.comment }}</td>
            </tr>
            <tr>
                <th>{% trans %}Dateplan{% endtrans %}</th>
                <td>{{ entity.dateplan|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{% trans %}Datefact{% endtrans %}</th>
                <td>{{ entity.datefact|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
            <li>
                <a href="{{ path('medical') }}">
                    {% trans %}Back to the list{% endtrans %}
                </a>
            </li>
            <li>
                <a href="{{ path('medical_edit', { 'id': entity.id }) }}">
                    {% trans %}Edit{% endtrans %}
                </a>
            </li>
            <li>{{ form(delete_form) }}</li>
        </ul>
{% endblock %}
