{% extends 'MainBundle:CRUD:list.html.twig' %}

{% block submenu %}
    {{ include('MainBundle:Submenu:Equipment.html.twig') }}
{% endblock %}

{% block breadcrumbs %}
    {{ app.breadcrumbs.prepend('Список', path('admin_user_list')) }}
    {{ app.breadcrumbs.prepend('Пользователи', path('admin_user_list')) }}
    {{ parent() }}
{% endblock %}

{% block content_title %}Список оборудования{% endblock %}

{% block content_options %}
    <a href="{{ path('equipment_new') }}" title="Добавить" id="add-record">
        {% trans %}Create a new entry{% endtrans %}
    </a>
{% endblock %}

{% block thead %}
    <tr>
        <th class="sorted">{{ knp_pagination_sortable(pagination, 'id'|trans, 'e.id') }}</th>
        <th class="sorted">{{ knp_pagination_sortable(pagination, 'Name'|trans, 'e.name') }}</th>
        <th class="sorted">{{ knp_pagination_sortable(pagination, 'Enterprise'|trans, 'enterp.name') }}</th>
        <th class="sorted">{{ knp_pagination_sortable(pagination, 'Subdivision'|trans, 'subd.name') }}</th>
        {#<th>{% trans %}Equipmentgroup{% endtrans %}</th>#}
        <th class="sorted">{{ knp_pagination_sortable(pagination, 'Equipmentsubgroup'|trans, 'esg.name') }}</th>
        <th class="sorted">{{ knp_pagination_sortable(pagination, 'Model'|trans, 'e.model') }}</th>
        <th class="sorted">{{ knp_pagination_sortable(pagination, 'Registrationnumber'|trans, 'e.registrationnumber') }}</th>
        <th>{% trans %}Actions{% endtrans %}</th>
    </tr>
{% endblock %}

{% block tbody %}
    {% for item in pagination %}
        <tr>
            <td>{{ item.id }}</td>
            <td><a href="{{ path('equipment_edit', { 'id': item.id }) }}">{{ item.name }}</a></td>
            <td>{{ item.subdivision.enterprise }}</td>
            <td>{{ item.subdivision }}</td>
            {#<td>{{ item.equipmentgroup }}</td>#}
            <td>{{ item.equipmentsubgroup }}</td>
            <td>{{ item.model }}</td>
            <td>{{ item.registrationnumber }}</td>
            <td>
                <ul>
                    <li>
                        <a class="show-action" href="{{ path('equipment_edit', { 'id': item.id }) }}" title="{% trans %}Show{% endtrans %}"></a>
                    </li>
                    <li>
                        <a class="edit-action" href="{{ path('equipment_edit', { 'id': item.id }) }}" title="{% trans %}Edit{% endtrans %}"></a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
{% endblock %}