{% extends '::base.html.twig' %}

{% block submenu %}
    {{ include('MainBundle:Submenu:Equipment.html.twig') }}
{% endblock %}

{% block body -%}
    <h1>{% trans %}Equipment{% endtrans %}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>{% trans %}Model{% endtrans %}</th>
                <td>{{ entity.model }}</td>
            </tr>
            <tr>
                <th>{% trans %}Registrationnumber{% endtrans %}</th>
                <td>{{ entity.registrationnumber }}</td>
            </tr>
            <tr>
                <th>{% trans %}Internalnumber{% endtrans %}</th>
                <td>{{ entity.internalnumber }}</td>
            </tr>
            <tr>
                <th>{% trans %}Factorynumber{% endtrans %}</th>
                <td>{{ entity.factorynumber }}</td>
            </tr>
            <tr>
                <th>{% trans %}Manufacturer{% endtrans %}</th>
                <td>{{ entity.manufacturer }}</td>
            </tr>
            <tr>
                <th>{% trans %}Productiondate{% endtrans %}</th>
                <td>{{ entity.productiondate|date('d.m.Y') }}</td>
            </tr>
            <tr>
                <th>{% trans %}Startupdate{% endtrans %}</th>
                <td>{{ entity.startupdate|date('d.m.Y') }}</td>
            </tr>
            <tr>
                <th>{% trans %}Life{% endtrans %}</th>
                <td>{{ entity.life }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('equipment') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('equipment_edit', { 'id': entity.id }) }}">
            {% trans %}Edit{% endtrans %}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
