<div class="b-left-menu">
    <ul>
        <li><a href="{{ path('profession') }}"><p>Пользователи</p></a></li>
        <li><a href="{{ path('profession') }}"><p>Предприятия</p></a></li>
        <li><a href="{{ path('profession') }}"><p>Структурные подразделения</p></a></li>
        <li><a href="{{ path('profession') }}"><p>Профессии</p></a></li>
        <li><a href="{{ path('professionkind') }}"><p>Виды профессий</p></a></li>
        <li><a href="{{ path('profession') }}"><p>Виды медосмотров</p></a></li>
        <li><a href="{{ path('profession') }}"><p>Характер медосмотра</p></a></li>
        <li><a href="{{ path('profession') }}"><p>Виды происшествий</p></a></li>
        <li><a href="{{ path('profession') }}"><p>Причины несчастных случаев</p></a></li>
        <li><a href="{{ path('profession') }}"><p>Группы оборудования</p></a></li>
        <li><a href="{{ path('profession') }}"><p>Подгруппы оборудования</p></a></li>
        <li><a href="{{ path('profession') }}"><p>Виды затрат на охрану труда</p></a></li>
    </ul>
</div>