{% extends '::base.html.twig' %}

{% block submenu %}
    {{ include('SirOtBundle:Submenu:Administration.html.twig') }}
{% endblock %}

{% block body -%}
    <h1>Equipmentsubgroup list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('equipmentsubgroup_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('equipmentsubgroup_show', { 'id': entity.id }) }}">{% trans %}Show{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="{{ path('equipmentsubgroup_edit', { 'id': entity.id }) }}">{% trans %}Edit{% endtrans %}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('equipmentsubgroup_new') }}">
                {% trans %}Create a new entry{% endtrans %}
            </a>
        </li>
    </ul>
    {% endblock %}
