{% extends '::base.html.twig' %}

{% block submenu %}
    {{ include('SirOtBundle:Submenu:Employee.html.twig') }}
{% endblock %}

{% block body -%}
    <h1>{% trans %}Trauma list{% endtrans %}</h1>
	<a id="ot_list_create" href="{{ path('trauma_new') }}">
		{% trans %}Create a new entry{% endtrans %}
	</a>
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}Datetrauma{% endtrans %}</th>
                <th>{% trans %}Traumareport{% endtrans %}</th>
                <th>{% trans %}Hoursstart{% endtrans %}</th>
				<th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('trauma_show', { 'id': entity.id }) }}">{{ entity.datetrauma|date('Y-m-d H:i:s') }}</a></td>
                <td>{{ entity.id }}</td>
                <td>{{ entity.traumareport }}</td>
                <td>{{ entity.hoursstart }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('trauma_show', { 'id': entity.id }) }}">{% trans %}Show{% endtrans %}</a>
                        </li>
                        <li>
                            <a href="{{ path('trauma_edit', { 'id': entity.id }) }}">{% trans %}Edit{% endtrans %}</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
