{% extends '::base.html.twig' %}

{% block submenu %}
    {{ include('SirOtBundle:Submenu:Employee.html.twig') }}
{% endblock %}

{% block body -%}
    <h1>{% trans %}Trauma list{% endtrans %}</h1>
	<a id="ot_list_create" href="{{ path('trauma_new') }}">
		{% trans %}Create a new entry{% endtrans %}
	</a>
	{% block filter %}
		{{ include('SirOtBundle:Default:ot_filter_form_template.html.twig') }}
	{% endblock %}
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
				<th>{% trans %}LFMname{% endtrans %}</th>
				<th>{% trans %}Enterprise{% endtrans %}</th>
				<th>{% trans %}Subdivision{% endtrans %}</th>
                <th>{% trans %}Datetrauma{% endtrans %}</th>
                <th>{% trans %}Traumareport{% endtrans %}</th>
                <th>{% trans %}Hoursstart{% endtrans %}</th>
				<th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
				<td><a href="{{ path('medical_show', { 'id': entity.id }) }}">{{ entity.employee }}</a></td>
				<td>{{ entity.employee.subdivision.enterprise }}</td>
				<td>{{ entity.employee.subdivision }}</td>
				<td>{{ entity.datetrauma|date('Y-m-d H:i:s') }}</td>
                <td>{{ entity.traumareport }}</td>
                <td>{{ entity.hoursstart }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="show-action" href="{{ path('trauma_show', { 'id': entity.id }) }}" title="{% trans %}Show{% endtrans %}"></a>
                        </li>
                        <li>
                            <a class="edit-action" href="{{ path('trauma_edit', { 'id': entity.id }) }}" title="{% trans %}Edit{% endtrans %}"></a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
