{% extends '::base.html.twig' %}

{% block submenu %}
    {{ include('SirOtBundle:Submenu:Employee.html.twig') }}
{% endblock %}

{% block body -%}
    <h1>Trauma</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Datetrauma</th>
                <td>{{ entity.datetrauma|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Traumareport</th>
                <td>{{ entity.traumareport }}</td>
            </tr>
            <tr>
                <th>Hoursstart</th>
                <td>{{ entity.hoursstart }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('trauma') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('trauma_edit', { 'id': entity.id }) }}">
            {% trans %}Edit{% endtrans %}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
