{% extends '::base.html.twig' %}

{% block submenu %}
    {{ include('SirOtBundle:Submenu:Employee.html.twig') }}
{% endblock %}

{% block body -%}
    <h1>{% trans %}Trauma{% endtrans %}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}LFMname{% endtrans %}</th>
                <td>{{ entity.employee }}</td>
            </tr>
            <tr>
                <th>{% trans %}Datetrauma{% endtrans %}</th>
                <td>{{ entity.datetrauma|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{% trans %}Enterprise{% endtrans %}</th>
                <td>{{ entity.employee.subdivision.enterprise }}</td>
            </tr>
            <tr>
                <th>{% trans %}Subdivision{% endtrans %}</th>
                <td>{{ entity.employee.subdivision }}</td>
            </tr>
            <tr>
                <th>{% trans %}Traumakind{% endtrans %}</th>
                <td>{{ entity.traumakind }}</td>
            </tr>
            <tr>
                <th>{% trans %}Traumacause{% endtrans %}</th>
                <td>{{ entity.traumacause }}</td>
            </tr>
            <tr>
                <th>{% trans %}Datetrauma{% endtrans %}</th>
                <td>{{ entity.datetrauma|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{% trans %}Traumareport{% endtrans %}</th>
                <td>{{ entity.traumareport }}</td>
            </tr>
            <tr>
                <th>{% trans %}Hoursstart{% endtrans %}</th>
                <td>{{ entity.hoursstart }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('trauma') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('trauma_edit', { 'id': entity.id }) }}">
            {% trans %}Edit{% endtrans %}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
