{% extends '::base.html.twig' %}

{% block submenu %}
    {{ include('SirOtBundle:Submenu:Equipment.html.twig') }}
{% endblock %}

{% block body -%}
    <h1>{% trans %}Technicalexamination list{% endtrans %}</h1>
	<a id="ot_list_create" href="{{ path('technicalexamination_new') }}">
		{% trans %}Create a new entry{% endtrans %}
	</a>
    <table class="records_list">
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Resulttext{% endtrans %}</th>
                <th>{% trans %}Plandate{% endtrans %}</th>
                <th>{% trans %}Factdate{% endtrans %}</th>
				<th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('technicalexamination_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.resulttext }}</td>
                <td>{% if entity.plandate %}{{ entity.plandate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.factdate %}{{ entity.factdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a class="show-action" href="{{ path('technicalexamination_show', { 'id': entity.id }) }}" title="{% trans %}Show{% endtrans %}"></a>
                    </li>
                    <li>
                        <a class="edit-action" href="{{ path('technicalexamination_edit', { 'id': entity.id }) }}" title="{% trans %}Edit{% endtrans %}"></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% endblock %}
