{% extends '::base.html.twig' %}

{% block submenu %}
    {{ include('SirOtBundle:Submenu:Administration.html.twig') }}
{% endblock %}

{% block body -%}
	<h1>{% trans %}Traumacause list{% endtrans %}</h1>
	<a id="ot_list_create" href="{{ path('traumacause_new') }}">
		{% trans %}Create a new entry{% endtrans %}
	</a>
	{% block filter %}
		{{ include('SirOtBundle:Default:ot_filter_form_template.html.twig') }}
	{% endblock %}
    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>{% trans %}Name{% endtrans %}</th>
				<th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('traumacause_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('traumacause_show', { 'id': entity.id }) }}">{% trans %}Show{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="{{ path('traumacause_edit', { 'id': entity.id }) }}">{% trans %}Edit{% endtrans %}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	<div class="navigation">
		{{ knp_pagination_render(entities) }}
	</div>
    {% endblock %}
