{% extends '::base.html.twig' %}

{% block submenu %}
    {{ include('MainBundle:Submenu:Administration.html.twig') }}
{% endblock %}

{% block body -%}
    <h1>{% trans %}Equipmentgroup{% endtrans %}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Name{% endtrans %}</th>
                <td>{{ entity.name }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('equipmentgroup') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('equipmentgroup_edit', { 'id': entity.id }) }}">
            {% trans %}Edit{% endtrans %}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
