{% extends 'MainBundle:CRUD:list.html.twig' %}

{% block submenu %}
    {{ include('MainBundle:Submenu:Employee.html.twig') }}
{% endblock %}

{% block breadcrumbs %}
    {{ app.breadcrumbs.prepend('Список', path('admin_user_list')) }}
    {{ app.breadcrumbs.prepend('Пользователи', path('admin_user_list')) }}
    {{ parent() }}
{% endblock %}

{% block content_title %}Список случаев травматизма{% endblock %}

{% block content_options %}
    <a href="{{ path('trauma_new') }}" title="Добавить" id="add-record">
        {% trans %}Create a new entry{% endtrans %}
    </a>
{% endblock %}

{% block thead %}
    <tr>
        <th class="sorted">{{ knp_pagination_sortable(pagination, 'id'|trans, 't.id') }}</th>
        <th class="sorted">{{ knp_pagination_sortable(pagination, 'LFMname'|trans, 'e.lastname') }}</th>
        <th class="sorted">{{ knp_pagination_sortable(pagination, 'Enterprise'|trans, 'enterp.name') }}</th>
        <th class="sorted">{{ knp_pagination_sortable(pagination, 'Subdivision'|trans, 'subd.name') }}</th>
        <th class="sorted">{{ knp_pagination_sortable(pagination, 'Datetrauma'|trans, 't.datetrauma') }}</th>
        <th class="sorted">{{ knp_pagination_sortable(pagination, 'Traumareport'|trans, 't.traumareport') }}</th>
        <th class="sorted">{{ knp_pagination_sortable(pagination, 'Hoursstart'|trans, 't.hoursstart') }}</th>
        <th>{% trans %}Actions{% endtrans %}</th>
    </tr>
{% endblock %}

{% block tbody %}
    {% for item in pagination %}
        <tr>
            <td>{{ item.id }}</td>
            <td><a href="{{ path('trauma_edit', { 'id': item.id }) }}">{{ item.employee }}</a></td>
            <td>{{ item.employee.subdivision.enterprise }}</td>
            <td>{{ item.employee.subdivision }}</td>
            <td>{{ item.datetrauma|date('d.m.Y') }}</td>
            <td>{{ item.traumareport }}</td>
            <td>{{ item.hoursstart }}</td>
            <td>
                <ul>
                    <li>
                        <a class="show-action" href="{{ path('trauma_edit', { 'id': item.id }) }}" title="{% trans %}Show{% endtrans %}"></a>
                    </li>
                    <li>
                        <a class="edit-action" href="{{ path('trauma_edit', { 'id': item.id }) }}" title="{% trans %}Edit{% endtrans %}"></a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
{% endblock %}