{% extends '::base.html.twig' %}

{% block submenu %}
    {{ include('SirOtBundle:Submenu:Administration.html.twig') }}
{% endblock %}

{% block body -%}
	<h1>{% trans %}Medicalkind list{% endtrans %}</h1>
	<br />
	<form class="ot_filter_form" method="get" action=".">
		{{ form_rest(form) }}
		<br />
		<input type="submit" id="ot_filter_apply" name="submit-filter" value="Применить фильтр" />
		<input type="submit" id="ot_filter_clear" name="submit-filter" value="Сбросить фильтр" onclick="filterClear();" />
	</form>
	<hr />
	<br />

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('medicalkind_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('medicalkind_show', { 'id': entity.id }) }}">{% trans %}Show{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="{{ path('medicalkind_edit', { 'id': entity.id }) }}">{% trans %}Edit{% endtrans %}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	<br />
        <ul>
        <li>
            <a id="ot_list_create" href="{{ path('medicalkind_new') }}">
                {% trans %}Create a new entry{% endtrans %}
            </a>
        </li>
    </ul>
    {% endblock %}
