{% extends 'MainBundle:CRUD:list.html.twig' %}

{% block submenu %}
    {{ include('MainBundle:Submenu:Employee.html.twig') }}
{% endblock %}

{% block breadcrumbs %}
    {{ app.breadcrumbs.prepend('Список', path('admin_user_list')) }}
    {{ app.breadcrumbs.prepend('Пользователи', path('admin_user_list')) }}
    {{ parent() }}
{% endblock %}

{% block content_title %}Список сотрудников{% endblock %}

{% block content_options %}
    <a href="{{ path('employee_new') }}" title="Добавить" id="add-record">
        {% trans %}Create a new entry{% endtrans %}
    </a>
{% endblock %}

{% block thead %}
    <tr>
        <th class="sorted">{{ knp_pagination_sortable(pagination, 'id'|trans, 'e.id') }}</th>
        <th class="sorted">{{ knp_pagination_sortable(pagination, 'LFMname'|trans, 'e.lastname') }}</th>
        <th class="sorted">{{ knp_pagination_sortable(pagination, 'Bithday'|trans, 'e.bithday') }}</th>
        <th class="sorted">{{ knp_pagination_sortable(pagination, 'Enterprise'|trans, 'enterp.name') }}</th>
        <th class="sorted">{{ knp_pagination_sortable(pagination, 'Subdivision'|trans, 'subd.name') }}</th>
        <th class="sorted">{{ knp_pagination_sortable(pagination, 'Profession'|trans, 'prof.name') }}</th>
        <th>{% trans %}Actions{% endtrans %}</th>
    </tr>
{% endblock %}

{% block tbody %}
    {% for item in pagination %}
        <tr>
            <td>{{ item.id }}</td>
            <td><a href="{{ path('employee_edit', { 'id': item.id }) }}">{{ item.lastname }} {{ item.firstname }} {{ item.middlename }}</a></td>
            <td>{% if item.bithday %}{{ item.bithday|date('d.m.Y') }}{% endif %}</td>
            <td>{{ item.subdivision.enterprise }}</td>
            <td>{{ item.subdivision }}</td>
            <td>{{ item.profession }}</td>
            <td>
                <ul>
                    <li>
                        <a class="show-action" href="{{ path('employee_edit', { 'id': item.id }) }}" title="{% trans %}Show{% endtrans %}"></a>
                    </li>
                    <li>
                        <a class="edit-action" href="{{ path('employee_edit', { 'id': item.id }) }}" title="{% trans %}Edit{% endtrans %}"></a>
                    </li>
                </ul>
            </td>
        </tr>
    {% endfor %}
{% endblock %}