{% extends '::base.html.twig' %}

{% block submenu %}
	{{ include('SirOtBundle:Submenu:Expense.html.twig') }}
{% endblock %}

{% block body -%}
    <h1>{% trans %}Expense list{% endtrans %}</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>{% trans %}Year{% endtrans %}</th>
                <th>{% trans %}Sum1{% endtrans %}</th>
                <th>{% trans %}Sum2{% endtrans %}</th>
                <th>{% trans %}Sum3{% endtrans %}</th>
                <th>{% trans %}Sum4{% endtrans %}</th>
                <th>{% trans %}Sum5{% endtrans %}</th>
                <th>{% trans %}Sum6{% endtrans %}</th>
                <th>{% trans %}Sum7{% endtrans %}</th>
                <th>{% trans %}Sum8{% endtrans %}</th>
                <th>{% trans %}Sum9{% endtrans %}</th>
                <th>{% trans %}Sum10{% endtrans %}</th>
                <th>{% trans %}Sum11{% endtrans %}</th>
                <th>{% trans %}Sum12{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{% if entity.year %}<a href="{{ path('expense_show', { 'id': entity.id }) }}">{{ entity.year|date('Y') }}</a>{% endif %}</td>
                <td>{{ entity.sum1 }}</td>
                <td>{{ entity.sum2 }}</td>
                <td>{{ entity.sum3 }}</td>
                <td>{{ entity.sum4 }}</td>
                <td>{{ entity.sum5 }}</td>
                <td>{{ entity.sum6 }}</td>
                <td>{{ entity.sum7 }}</td>
                <td>{{ entity.sum8 }}</td>
                <td>{{ entity.sum9 }}</td>
                <td>{{ entity.sum10 }}</td>
                <td>{{ entity.sum11 }}</td>
                <td>{{ entity.sum12 }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('expense_show', { 'id': entity.id }) }}">{% trans %}show{% endtrans %}</a>
                    </li>
                    <li>
                        <a href="{{ path('expense_edit', { 'id': entity.id }) }}">{% trans %}edit{% endtrans %}</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
<br />
        <ul>
        <li>
            <a id="ot_list_create" href="{{ path('expense_new') }}">
				{% trans %}Create a new entry{% endtrans %}
            </a>
        </li>
    </ul>
    {% endblock %}
