{% extends '::base.html.twig' %}

{% block submenu %}
    {{ include('SirOtBundle:Submenu:Expense.html.twig') }}
{% endblock %}

{% block body -%}
    <h1>{% trans %}Expense{% endtrans %}</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Year{% endtrans %}</th>
                <td>{{ entity.year|date('Y') }}</td>
            </tr>
            <tr>
                <th>{% trans %}Sum1{% endtrans %}</th>
                <td>{{ entity.sum1 }}</td>
            </tr>
            <tr>
                <th>{% trans %}Sum2{% endtrans %}</th>
                <td>{{ entity.sum2 }}</td>
            </tr>
            <tr>
                <th>{% trans %}Sum3{% endtrans %}</th>
                <td>{{ entity.sum3 }}</td>
            </tr>
            <tr>
                <th>{% trans %}Sum4{% endtrans %}</th>
                <td>{{ entity.sum4 }}</td>
            </tr>
            <tr>
                <th>{% trans %}Sum5{% endtrans %}</th>
                <td>{{ entity.sum5 }}</td>
            </tr>
            <tr>
                <th>{% trans %}Sum6{% endtrans %}</th>
                <td>{{ entity.sum6 }}</td>
            </tr>
            <tr>
                <th>{% trans %}Sum7{% endtrans %}</th>
                <td>{{ entity.sum7 }}</td>
            </tr>
            <tr>
                <th>{% trans %}Sum8{% endtrans %}</th>
                <td>{{ entity.sum8 }}</td>
            </tr>
            <tr>
                <th>{% trans %}Sum9{% endtrans %}</th>
                <td>{{ entity.sum9 }}</td>
            </tr>
            <tr>
                <th>{% trans %}Sum10{% endtrans %}</th>
                <td>{{ entity.sum10 }}</td>
            </tr>
            <tr>
                <th>{% trans %}Sum11{% endtrans %}</th>
                <td>{{ entity.sum11 }}</td>
            </tr>
            <tr>
                <th>{% trans %}Sum12{% endtrans %}</th>
                <td>{{ entity.sum12 }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('expense') }}">
			{% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('expense_edit', { 'id': entity.id }) }}">
			{% trans %}Edit{% endtrans %}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
