{#<a class="link_dotted {{ sort_direction }} {% if sorted %}cur{% endif %}" href="{{ options.href }}">{{ title }}</a>#}
{#<a class="{% if sorted %}cur{% endif %} " href="{{ options.href }}">{{ title }}</a>#}
<a{% for attr, value in options %} {{ attr }}="{{ value }}"{% endfor %}>{{ title }}</a>
