{% extends '::base.html.twig' %}

{% block submenu %}
    {% include 'MainBundle:Submenu:Reports.html.twig' with {'CategoryReportEntities': CategoryReportEntities, 'current': categoryid}  %}
{% endblock %}

{% block body -%}
    <h1>{% trans %}Report list{% endtrans %}</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>{% trans %}Id{% endtrans %}</th>
                <th>{% trans %}Name{% endtrans %}</th>
                <th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.id }}</td>
                <td><a href="/reports/index.php?stimulsoft_report_key={{ entity.params }}" title="{{ entity.name }}" target="_blank">{{ entity.name }}</a></td>
                <td>
                    <a class="print-action" href="/reports/index.php?stimulsoft_report_key={{ entity.params }}" title="{% trans %}Print{% endtrans %}" target="_blank"></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}