{% extends '::base.html.twig' %}

{% block submenu %}
    {{ include('SirOtBundle:Submenu:Employee.html.twig') }}
{% endblock %}

{% block body -%}
    <h1>{% trans %}Employee list{% endtrans %}</h1>
	<a id="ot_list_create" href="{{ path('employee_new') }}">
		{% trans %}Create a new entry{% endtrans %}
	</a>
	{% block filter %}
		{{ include('SirOtBundle:Default:ot_filter_form_template.html.twig') }}
	{% endblock %}
    <table class="records_list">
        <thead>
            <tr>
                <th>{% trans %}LFMname{% endtrans %}</th>
                <th>{% trans %}Bithday{% endtrans %}</th>
                <th>{% trans %}Enterprise{% endtrans %}</th>
                <th>{% trans %}Subdivision{% endtrans %}</th>
                <th>{% trans %}Profession{% endtrans %}</th>
				<th>{% trans %}Actions{% endtrans %}</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('employee_show', { 'id': entity.id }) }}">{{ entity.lastname }} {{ entity.firstname }} {{ entity.middlename }}</a></td>
				<td>{% if entity.bithday %}{{ entity.bithday|date('d-m-Y') }}{% endif %}</td>
                <td>{{ entity.subdivision.enterprise }}</td>
                <td>{{ entity.subdivision }}</td>
				<td>{{ entity.profession }}</td>
                <td>
                <ul>
                    <li>
                        <a class="show-action" href="{{ path('employee_show', { 'id': entity.id }) }}" title="{% trans %}Show{% endtrans %}"></a>
                    </li>
                    <li>
                        <a class="edit-action" href="{{ path('employee_edit', { 'id': entity.id }) }}" title="{% trans %}Edit{% endtrans %}"></a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
	<div class="navigation">
		{{ knp_pagination_render(entities) }}
	</div>
    {% endblock %}
