{% extends '::base.html.twig' %}

{% block submenu %}
    {{ include('SirOtBundle:Submenu:Employee.html.twig') }}
{% endblock %}

{% block body -%}
    <h1>Employee</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>{% trans %}Lastname{% endtrans %}</th>
                <td>{{ entity.lastname }}</td>
            </tr>
            <tr>
                <th>{% trans %}Firstname{% endtrans %}</th>
                <td>{{ entity.firstname }}</td>
            </tr>
            <tr>
                <th>{% trans %}Middlename{% endtrans %}</th>
                <td>{{ entity.middlename }}</td>
            </tr>
            <tr>
                <th>{% trans %}Sex{% endtrans %}</th>
                <td>{{ entity.sex }}</td>
            </tr>
            <tr>
                <th>{% trans %}Bithday{% endtrans %}</th>
                <td>{{ entity.bithday|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{% trans %}Date_first_medical{% endtrans %}</th>
                <td>{{ entity.datefirstmedical|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>{% trans %}Date_instruction{% endtrans %}</th>
                <td>{{ entity.dateinstruction|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('employee') }}">
            {% trans %}Back to the list{% endtrans %}
        </a>
    </li>
    <li>
        <a href="{{ path('employee_edit', { 'id': entity.id }) }}">
            {% trans %}Edit{% endtrans %}
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
